Source: addns
Section: net
Priority: extra
Maintainer: Gerik Bonaert <dev@adaxisoft.be>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.funtaff.com/software/addns.pl

Package: addns
Architecture: all
Depends: ${misc:Depends}
Description: Provides a fully equipped DynDNS.org updater
 This software allows you to send your IP address to a DynDNS
 provider to keep the hostname up to date with its current 
 IP address.
